<!DOCTYPE html>
<html>
    <h1>ROT13</h1>
    <p>Type some text in the box and click the button to convert!</p>
    <form action="{% url 'main' %}" method="POST">
        {% csrf_token %}
        <label for="text">Your original text: </label> <br/>
        <input type="textarea" name="text" id="text" placeholder="{{original_text}}">
        <input type="submit" value="CONVERT!">
    </form>
    <h3>Your text after conversion: </h3>
    <p>{{converted_text}}</p>
</html>
