<!DOCTYPE html>
<html>
    <body>
        <h3>Test your arithmetic!</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{op1}} {{operator}} {{op2}} <br/>
            <input type="hidden" name="op1" value="{{op1}}">
            <input type="hidden" name="operator" value="{{operator}}">
            <input type="hidden" name="op2" value="{{op2}}">
            <label for="solution">Type your answer here</label>
            <input type="text" name="solution" id="solution">
            <input type="submit" value="Check">
        </form>
        {% if success %}
        <p>Good work!</p>
        {% elif request.method == 'POST' %}
        <p>Try again!</p>
        {% endif %}
        <p>Current Streak: {{request.session.streak}}</p>
    </body>
</html>
