<!DOCTYPE html>
<html>
    <body>
        <h3>PASSWORD STRENGTH CHECKER</h3>
        <form action="{% url 'main' %}" method="POST">
            {% csrf_token %}
             <br/>
            <label for="password1">ENTER PASSWORD</label>
            <input type="text" name="password1" value="{{password1}}" id="password1">
            <label for="password2">REPEAT PASSWORD</label>
            <input type="text" name="password2" value="{{password2}}" id="password2">
            <input type="submit" name="check">
        </form>
        <p>{{reason}}</p>
    </body>
</html>
