<!DOCTYPE html>
<html>
    <body>
        <h2>SHOP</h2>
        {% for product in products %}
        <p>{{product.name}}</p>
        <p>{{product.category}}</p>
        <p>{{product.price}}</p>
        <br/><br/><br/>
        <form action="{% url 'shop:add_cart' product.id %}">
            <input type="submit" value="Add to Cart">
        </form>
        {% endfor %}
        
    </body>
</html>