<!DOCTYPE html>
<html>
    <body>
<h2>Recent Notices</h2>
<ul>
  {% for notice in notices %}
  <li>{{ notice.title }} - {{ notice.author }} - {{ notice.created_at }}</li>
  {% endfor %}
</ul>
</body>
</html>