<!DOCTYPE html>
    <html>
        <body>
            <h1>Hello collatz sequence</h1>
            <p>Now collatz sequence can find in web page</p>
            <p>with the help of django</p>
            <form action="{% url 'collatz_sequence_form' %}" method = "post">
                {% csrf_token %}
                <input type="text" placeholder="enter the number" name = "limit">
                <input type="submit" placeholder="submit">
            </form>
        </body>
    </html>
