<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>FoodApp</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="Home">Home</a>
        <form class="form-inline" action="cart.html">
          <a href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;&nbsp;
          <a  class="cart mr-sm-2" type="Bill">Bill</a>
        </form>
    </nav>
      <h1 style="text-align: center; color: red;">delivery_app</h1>
  <div class = "row">
      {% for item in menu %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src= "{{item.img}}" class="card-img-top" alt="..." style="height: 200px; width: 200px;">
            </div>
            <div class="col-4">
                <h4 class="card-title" style="text-align: center; ">{{item.name}}</h4>
                <p class="card-text" style="text-align: center;">Rs.{{item.price}}</p>
            </div>
            <div class="col-4">
                <a href="{%url 'order' item.id %}" class="btn btn-primary" style="align-items: center;">Order</a>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
  </div>




  
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>