<!DOCTYPE html>
<body>
    <form action="{% url 'validate' %}" method="post">
        {% csrf_token %}
        <input type="text" name ="rollno">
        <input type="text" name ="marks">
        <input type="submit" value = "enter">
    </form>
</body>