<!DOCTYPE html>
<body>
    <table>
        <tr>
            <td>rank</td>
            <td>rollno</td>
            <td>score</td>
         </tr>
        {% for student in students %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{student.rollno}}</td>
            <td>{{student.marks}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>