<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    {% if rank %}
    <h3>Rank of student with rollno {{rollno}} is {{rank}}</h3>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="search">Student Roll no</label>
        <input type="text" placeholder="Enter your roll no" name="rollno">
        <input type="submit" value="Submit">
    </form>
</body>
</html>